<div class="row">
  <div class="col-md-6">
    <h2>Open <b>multiple</b></h2>
    <div class="tabs">
      <!-- <div class="tab">
        <input type="checkbox" id="chck1" />
        <label class="tab-label" for="chck1">Item 1</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum,
          reiciendis!
        </div>
      </div> -->
      <!-- <div class="tab">
        <input type="checkbox" id="chck2" />
        <label class="tab-label" for="chck2">Item 2</label>
        <div class="tab-content">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. A, in!
        </div>
      </div> -->
      <app-accord
        *ngFor="let item of accordionData"
        [accord]="item"
        (click)="openAccordion(item)"
        [ngClass]="{active: item.isShow}"
      ></app-accord>
    </div>
  </div>
</div>
