<!-- <app-accords></app-accords> -->
<!-- <app-tabs>
  <app-tab tabTitle="Tab 1">Tab 1 Content</app-tab>
  <app-tab tabTitle="Tab 2">Tab 2 Content</app-tab>
</app-tabs> -->

<app-tab #cref>
  <div>
    <label for="heading">Heading:</label>
    <input type="text" #headingval />
  </div>
  <div>
    <label for="content">Content:</label>
    <input type="text" #contentval />
  </div>
  <button
    class="btn btn-sm btn-primary"
    (click)="addTo(headingval.value, contentval.value)"
  >
    Add
  </button>
  <app-tab-content
    ><ul *ngFor="let item of child.headings">
      <li>{{ item }}</li>
    </ul></app-tab-content
  >
  <app-tab-content>
    <ul *ngFor="let item of child.contents">
      <li>{{ item }}</li>
    </ul>
  </app-tab-content>
</app-tab>

<router-outlet></router-outlet>
